.form__fieldSet {
    border-radius: 15px;
    border: 1px solid rgb(68, 68, 68);
}

.form__legend {
    border-radius: 15px;
    border: 1px solid rgb(68, 68, 68);
    padding: 9px;
    background-color: rgb(68, 68, 68);
    color: aliceblue;
}


.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 10px;
    color: aliceblue;
}

.form__field {
    border: 1px solid rgb(68, 68, 68);
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 27%);
    color: aliceblue;
}

.form__field:hover {
    background-color: hsl(0, 0%, 22%);
}

.form__button {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(68, 68, 68);;
    width: 100%;
    max-width: 150px;
    background-color: hsl(0, 0%, 27%);
    color: aliceblue;
}

.form__button:hover {
    background-color: hsl(0, 0%, 22%);
}

.form__button:active{
    background-color: hsl(0, 0%, 17%);
}